[submodule "server/auth"]
	path = server/auth
	url = https://github.com/poom-ytthpch/pos_server_auth.git
	branch = main
[submodule "server/product"]
	path = server/product
	url = https://github.com/poom-ytthpch/pos_server_product.git
	branch = main
[submodule "client"]
	path = client
	url = https://github.com/poom-ytthpch/pos_client.git
	branch = main
[submodule "server/gateway"]
	path = server/gateway
	url = https://github.com/poom-ytthpch/pos_server_gateway.git
	branch = main
